{% extends 'blogApp/base.html' %}
{% load static %}
{% block title %}
    blog app
{% endblock %}


{% block body %}
    <div class="jumbotron">
        <p class="lead">this blog is network of communities where sports fans from all backgrounds gather to share their passion for
            the teams they love. We strive to create a fun and welcoming place for everyone to come fan with us. These
            guidelines help ensure that happens across SB Nation’s communities. Here’s the short version:

            Be respectful in your interactions with contributors and fellow fans.
            Don’t be a jerk, and don’t call other people jerks.
            We’ll remove anything we see that jeopardizes our communities.
            You can help with that. If you see something that doesn’t align with our guidelines, let us know. Flag any
            comments, FanPosts, or usernames that violate our guidelines so our community managers can review them.
            The rules below extend to our SB Nation communities everywhere: in our comments, on social media, and in
            real life.</p>
        <hr class="my-4">


    </div>
{% endblock %}