{% extends 'blogApp/base.html' %}
{% load static %}
{% block title %}
    blog app
{% endblock %}


{% block body %}
    <div class="jumbotron">
        {% if user.is_authenticated %}
            <p class="lead">Welcome {{ user.username }} to Man United Stand Blog, were we speak about everything
                Manchester United Related</p>
        {% else %}
            <p class="lead">Welcome to Man United Stand Blog, were we speak about everything Manchester United
                Related</p>
        {% endif %}
        <hr class="my-4">
        {% for post in posts %}
            <div class="col-md mt-4 mb-5 mr-3">
                <div class="card">
                    <div class="card-header">
                        <h5>
                            <span>{{ post.author }}</span>
                            &nbsp;&nbsp;
                            <span>{{ post.date_posted | date:'F d, Y ' }}</span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
                        </h2>
                        <p class="article-content">{{ post.content }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4"
                   href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>
{% endblock %}
