{% extends 'blogApp/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    <title>Blog App</title>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 my-5">
            <div class="card mx-auto" style="max-width: 26rem;">
                <h5 class="card-header text-center">Sign Up</h5>
                <div class="card-body">
                    <form action="{% url 'sign_up' %}" method="POST" class="my-login-validation" novalidate>
                        {% csrf_token %}

                        {{ form|crispy }}

                        <div class="row">
                            <div class="col-12 form-group">
                                <button type="submit" class="btn btn-primary btn-block">
                                    <i class="fas fa-user-plus"></i> Sign Up
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="{% url 'sign_in' %}" class="btn btn-danger btn-block btn-md">
                                <i class="far fa-arrow-alt-circle-left"></i> Back</a>
                        </div>
                        <div class="footer mt-1">
                            Man U Blog
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}